/* TEMS EVENT styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nunito Sans", serif;
}

header {
    background-color: #fff;
    padding: 10px 20px;
}

#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* logo style */

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    text-decoration: none;
}

.logo img {
    width: 10%;
}

.logo a h3 {
    color: #3f0a83;
    font-size: 14px;
    font-weight: 800;
}

#navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

/* navbar-list style */

.navbar-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #3f0a83;
    z-index: 10;
}

.navbar-list.active {
    display: flex;
}

.navbar-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar-item a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
}

.navbar-item a:hover {
    background-color: #fff;
    color: #3f0a83;
}

/* .navbar-item Gradient animation */

.navbar-item a {
    display: block;
    position: relative;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    overflow: hidden;
    z-index: 1;
}

.navbar-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #ff9800, #3f0a83, #e68a00);
    z-index: -1;
    transition: left 0.4s ease;
}

.navbar-item a:hover::after {
    left: 0;
    transition: left 0.4s ease;
}

/* navbar-button style */

.navbar-button {
    text-align: center;
    width: 150%;
}

.navbar-button button {
    padding: 7px 8px;
    font-size: 14px;
    font-weight: 700;
    background-color: #3f0a83;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

.navbar-button button:hover {
    background-color: transparent;
    color: #3f0a83;
}

/* menu-icon Styles */

.menu-icon {
    right: 15%;
    display: block;
    cursor: pointer;
    position: relative;
}

.menu-icon i {
    font-size: 1.5rem;
    color: #3f0a83;
    display: none;
}

.menu-icon .fa-bars {
    display: block;
}

.menu-icon.active .fa-bars {
    display: none;
}

.menu-icon.active .close-icon {
    display: block;
}

/* hero-section style */

.hero-section {
    background: url(./assest/about\ bg1.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hero-section img {
    width: 70%;
    /* height: 60vh; */
    border-radius: 20px;
    transform: translateX(20%);
}

/* about-content style*/

.about-content {
    background: #fff3f8;
    padding: 30px 10px;
}

.content {
    border: 2px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text1 {
    display: none;
}

.text1a {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    width: 100%;
    align-items: center;
    font-size: 15px;
}

.text2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text2 p {
    font-family: "Poltawski Nowy", serif;
    font-size: 16px;
}

.text2 img {
    width: 100%;
}

.text3 {
    display: none;
}

.text3a {
    font-family: "Poltawski Nowy", serif;
    text-align: center;
    font-size: 16px;
}

/* image-container style */

.image-container {
    margin-top: 2%;
}

.image-container img {
    width: 100%;
}

.image-container p {
    padding: 10px 5px;
    color: #15154f;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

/* content style */

.image-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    padding: 10px 15px;
}

.image1 img, .image2 img, .image3 img {
    width: 100%;
}

.image1 p, .image2 p, .image3 p {
    font-family: "Poltawski Nowy", serif;
    position: absolute;
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.image1 p {
    background: #ffd3c8;
    left: 30%;
    top: 29.5%;
}

.image2 p {
    bottom: 34%;
    left: 13%;
    background: #e2e2ff;
}

.image3 p {
    top: 98%;
    left: 28%;
    background: #ffd3d3;
}

/* connect style */

.connect {
    margin-top: 3%;
    background: #d5d5f3;
    color: #15154f;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect h2 {
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
}

.connect-details {
    padding: 10px 20px;
}

.email, .telephone, .address, .instagram, .tiktok {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.email i, .telephone i, .address i, .instagram i, .tiktok i {
    font-size: 30px;
}

.email p, .telephone p, .address p, .instagram p, .tiktok p {
    font-size: 18px;
    font-weight: 700;
}

/* footer style */

footer {
    background: #15154f;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 12px 15px;
    text-align: center;
}

footer img {
    width: 20px;
}

/* Responsive Layout for Larger Screens */

@media (min-width: 768px) {

    .logo img {
        width: 20%;
    }

    .logo h3 {
        font-size: 14px;
    }

    .menu-icon {
        display: none;
    }

    .navbar-list {
        display: flex;
        flex-direction: row;
        position: static;
        margin-left: 5%;
        width: 200vw;
        background-color: transparent;
    }

    .navbar-list ul {
        display: flex;
    }

    .navbar-item a {
        font-size: 16px;
        padding: 10px 15px;
        color: #3f0a83;
    }

    .navbar-button {
        margin: 0;
    }

    .navbar-button button {
        font-size: 1rem;
    }

    .navbar-item a {
        color: #3f0a83;
    }

    .navbar-item a::after {
        height: 3px;
    }

    .navbar-item a:hover::after {
        background: linear-gradient(90deg, #3f0a83, #ff9800, #564867);
    }

    .navbar-item.active a::after {
        left: 0;
        transition: left 0.4s ease;
    }

    /* hero-section style */

    .hero-section img {
        margin-top: 3%;
        width: 50%;
        height: 85vh;
        transform: translateX(50%);
    }

    /* content style */

    .text1 {
        font-family: "Poltawski Nowy", serif;
        display: block;
        text-align: center;
        font-size: 30px;
        width: 68%;
        margin-left: 20%;
        font-weight: 500;
    }

    .text1a {
        display: none;
    }

    .text2 {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 10px 10px;
        justify-content: center;
    }

    .text2 img {
        width: 40%;
    }

    .text2 p {
        width: 40%;
        font-size: 30px;
        line-height: 50px;
    }

    .text3 {
        font-family: "Poltawski Nowy", serif;
        display: block;
        text-align: center;
        font-size: 30px;
        width: 70%;
        margin-left: 20%;
        font-weight: 500;
    }

    .text3a {
        display: none;
    }

    /* image-content styles */

    .image-content {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .image1 img, .image2 img, .image3 img {
        width: 100%;
    }

    .image1 p, .image2 p, .image3 p {
        font-family: "Poltawski Nowy", serif;
        position: absolute;
        padding: 10px 12px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 500;
    }

    .image1 p {
        background: #ffd3c8;
        left: 12%;
        top: 90%;
    }
    
    .image2 p {
        bottom: 3%;
        left: 36%;
        background: #e2e2ff;
    }
    
    .image3 p {
        top: 90%;
        left: 77%;
        background: #ffd3d3;
    }

    /* image-container style */

    .image-container p {
        padding: 20px;
        font-size: 40px;
        font-weight: 800;
    }

    /* connect styles */

    .connect {
        margin-top: 1%;
    }

    .connect h2 {
        font-size: 40px;
    }

    .email i, .telephone i, .address i, .instagram i, .tiktok i {
        font-size: 30px;
    }

    .email p, .telephone p, .address p, .instagram p, .tiktok p {
        font-size: 24px;
    }
}