/* TEMS EVENT styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nunito Sans", serif;
}

header {
    background-color: #fff;
    padding: 10px 20px;
}

#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* logo style */

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    text-decoration: none;
}

.logo img {
    width: 10%;
}

.logo a h3 {
    color: #3f0a83;
    font-size: 14px;
    font-weight: 800;
}

#navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

/* navbar-list style */

.navbar-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #3f0a83;
    z-index: 10;
}

.navbar-list.active {
    display: flex;
}

.navbar-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar-item a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
}

.navbar-item a:hover {
    background-color: #fff;
    color: #3f0a83;
}

/* .navbar-item Gradient animation */

.navbar-item a {
    display: block;
    position: relative;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    overflow: hidden;
    z-index: 1;
}

.navbar-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #ff9800, #3f0a83, #e68a00);
    z-index: -1;
    transition: left 0.4s ease;
}

.navbar-item a:hover::after {
    left: 0;
    transition: left 0.4s ease;
}

/* navbar-button style */

.navbar-button {
    text-align: center;
    width: 150%;
}

.navbar-button button {
    padding: 5px 8px;
    font-size: 16px;
    font-weight: 700;
    background-color: #3f0a83;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

.navbar-button button:hover {
    background-color: transparent;
    color: #3f0a83;
}

/* menu-icon Styles */

.menu-icon {
    right: 15%;
    display: block;
    cursor: pointer;
    position: relative;
}

.menu-icon i {
    font-size: 1.5rem;
    color: #3f0a83;
    display: none;
}

.menu-icon .fa-bars {
    display: block;
}

.menu-icon.active .fa-bars {
    display: none;
}

.menu-icon.active .close-icon {
    display: block;
}


/* hero-section style */
.hero-section {
    background: url(./assest/event7.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 20px; 
}

.hero-section h1 {
    font-size: 24px; 
    font-weight: 700;
    margin-bottom: 10px; 
    font-family: "Poltawski Nowy", serif;
    font-style: italic;
}

.hero-section p {
    font-size: 14px; 
    font-weight: 400;
}

.hero-button {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 7%;
}

.hero-button button {
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    font-style: italic;
    font-family: "Poltawski Nowy", serif;
    font-weight: 700;
    font-size: 14px;
}

.hero-button .book button {
    background: #3f0a83;
    color: #fff;
}

.hero-button .see button {
    color: #3f0a83;
    background: 3fff;
}

.hero-button button:hover {
    background: linear-gradient(90deg, #ff9800, #3f0a83, #e68a00);
}

.hero-button .see button:hover {
    color: #fff;
}

/* Swiper and Display Styling */
.swiper {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #f3eaff;
    padding: 10px 20px;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px; 
    background: #f3eaff;
    padding: 10px;
    box-sizing: border-box;
}

/* Image Styling */
.image1 img, .image2 img, .image3 img, .image4 img, .image5 img {
    width: 80%;
    height: 50vh;
    border-radius: 60px;
    object-fit: cover;
}

.image1 p, .image2 p, .image3 p, .image4 p, .image5 p {
    position: absolute;
    top: 63%;
    left: 12%;
    transform: translateY(-50%);
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 800;
    z-index: 2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.image5 img {
    border-radius: 60px;
    height: 50vh;
}

/* Customize each card */
.image1 p {
    background-color: rgba(191, 84, 173, 0.7);
    color: #fff;
}

.image2 p {
    background-color: #fff;
    color: #410e69;
}

.image3 p {
    background-color: #667d3b;
    color: #fff; 
}

.image4 p {
    background-color: #fff;
    color: #036882; 
}

.image5 p {
    background-color: #fff;
    color: #000; 
}

/* about style */

.about {
    margin-top: 3%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #d9d9d9;
}

.about-img {
    position: relative;
    width: fit-content; 
}

.about-img .img1 {
    width: 70%; 
    display: block;
}

.about-img .img2 {
    position: absolute;
    bottom: -10%; 
    left: 80%; 
    transform: translateX(-50%); 
    width: 45%; 
    z-index: 2; 
}

.about-text {
    background: #15154f;
    font-family: "Poltawski Nowy", serif;
    color: #fff;
    padding: 35px 15px;
    width: fit-content;
}

.about-text h2 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
}

.about-text p {
    font-size: 14px;
    padding: 10px;
}

.about-text span a {
    color: #fff;
    text-decoration: #fff underline;
    font-style: italic;
    font-size: 14px;
}

/* service style */

.service {
    padding: 10px 12px;
}

.service h2 {
    font-family: "Poltawski Nowy", serif;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #15154f;
    text-align: center;
    text-decoration: underline;
}

.service-container {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-content1 {
    background: #d5d5f3;
    padding: 40px 60px;
    width: 100%;
    height: 50vh;
    border-radius: 40px;
    align-items: center;
}

.service-content2 {
    background: #f5d7e4;
    padding: 40px 60px;
    border-radius: 40px;
    width: 100%;
    height: 50vh;
    align-items: center;
}

.service-content3 {
    background: #ffd3c8;
    padding: 40px 60px;
    border-radius: 40px;
    width: 100%;
    height: 50vh;
    align-items: center;
    text-align: center;
}

.service-content1-img {
    width: 40px;
    border-radius: 10px;
}

.service-content1-img img {
    width: 25px;
}

.service-content1 h3, .service-content2 h3, .service-content3 h3 {
    font-size: 18px;
    padding: 7px 0;
    font-weight: 700;
    text-align: start;
}

.service-content1 ul h4 li, .service-content2 ul h4 li, .service-content3 ul h4 li {
    font-family: "Poltawski Nowy", serif;
    font-size: 15px;
    padding: 5px 0;
    text-align: start;
}

/* event-gallery styles */

.event-gallery {
    background: #190730;
}

.event-gallery a h2 {
    font-family: "Poltawski Nowy", serif;
    padding: 40px 0;
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    color: #fff;
    text-decoration: #fff underline;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* gallery-items styling */

.gallery-item {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    animation: float 6s ease-in-out infinite; 
}

/* Keyframes for floating animation */

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /
    }
    100% {
        transform: translateY(0); 
    }
}

.gallery-item img {
    position: absolute;
    opacity: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; 
    animation: fadeInOut 4s infinite;
}

/* Hover effect */

.gallery-item:hover img {
    transform: scale(1.1); 
}


/* First image fades in first */

.gallery-item img:first-child {
    animation-delay: 0s; 
}

/* Second image fades in after the first */

.gallery-item img:last-child {
    animation-delay: 5s; 
}

/* Keyframes for fadeIn and fadeOut */

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0; 
    }
    25%, 75% {
        opacity: 1; 
    }
}

/* connect style */

.connect {
    background: #d5d5f3;
    color: #15154f;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect h2 {
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
}

.connect-details {
    padding: 10px 20px;
}

.email, .telephone, .address, .instagram, .tiktok {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.email i, .telephone i, .address i, .instagram i, .tiktok i {
    font-size: 30px;
}

.email p, .telephone p, .address p, .instagram p, .tiktok p {
    font-size: 18px;
    font-weight: 700;
}

/* footer style */

footer {
    background: #15154f;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}

footer img {
    width: 20px;
}

/* Responsive Layout for Larger Screens */

@media (min-width: 768px) {

    .logo img {
        width: 20%;
    }

    .logo h3 {
        font-size: 14px;
    }

    .menu-icon {
        display: none;
    }

    .navbar-list {
        display: flex;
        flex-direction: row;
        position: static;
        margin-left: 5%;
        width: 200vw;
        background-color: transparent;
    }
  
    .navbar-list ul {
        display: flex;
    }

    .navbar-item a {
        font-size: 16px;
        padding: 10px 15px;
        color: #3f0a83;
    }
  
    .navbar-button {
      margin: 0;
    }
  
    .navbar-button button {
      font-size: 1rem;
    }

    .navbar-item a {
        color: #3f0a83;
    }

    .navbar-item a::after {
        height: 3px; 
    }

    .navbar-item a:hover::after {
        background: linear-gradient(90deg, #3f0a83, #ff9800, #564867);
    }

    .navbar-item.active a::after {
        left: 0;
        transition: left 0.4s ease;
    }

    /* hero-section style */

    .hero-section h1 {
        width: 936px;
        font-size: 65px;
        font-weight: 800;
    }

    .hero-section p {
        width: 820px;
        padding: 10px 27px;
        font-size: 20px;
        font-weight: 700;
    }

    .hero-button {
        margin-top: 3%;
    }

    .hero-button button {
        font-size: 24px;
    }

    /* swiper style */

    .swiper-wrapper {
        padding: 50px 20px;
        margin-bottom: 20px;
    }

    /* about style */

    .about {
        display: flex;
        flex-direction: row;
        gap: 0;
        padding: 30px 20px;
        margin-top: 2%;
    }

    .about-img {
        padding: 25px 15px;
        width: 50%;
    }

    .about-text {
        width: 50%;
    }

    .about-img {
        height: 90vh;
    }

    .about-img .img1 {
        width: 65%;
    }

    .about-img .img2 {
        bottom: 4%;
        left: 72%;
        width: 45%;
    }

    .about-text h2 {
        font-size: 40px;
        font-weight: 600;
        padding: 10px;
    }

    .about-text p {
        font-size: 28px;
    }

    .about-text p span a {
        font-size: 20px;
    }

    /* service style */

    .service {
        margin-top: 3%;
        padding: 10px 37px;
    }

    .service h2 {
        font-size: 30px;
        font-weight: 600;
    }

    .service-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .service-content1 h3, .service-content2 h3, .service-content3 h3 {
        font-size: 20px;
    }
    
    .service-content1 ul h4 li, .service-content2 ul h4 li, .service-content3 ul h4 li {
        font-size: 15px;
    }

    /* gallery style */

    .event-gallery {
        margin-top: 3%;
    }

    .event-gallery a h2 {
        font-size: 30px;
        font-style: italic;
        font-weight: 800;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        padding: 20px 38px;
    }   

    .gallery-item {
        margin-bottom: 10px;
    }

    .gallery-item img {
        width: 100%;
    }

    /* connect styles */

    .connect h2 {
        font-size: 40px;
    }

    .email i, .telephone i, .address i, .instagram i, .tiktok i {
        font-size: 30px;
    }

    .email p, .telephone p, .address p, .instagram p, .tiktok p {
        font-size: 24px;
    }
  }